Bank/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    targetNamespace="it.unibo.wsdl" 
    xmlns:xsd1="it.unibo.xsd" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="it.unibo.wsdl" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xs:schema 
            targetNamespace="it.unibo.xsd" 
            xmlns:sch="it.unibo.xsd" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="getToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="amount" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="status" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="verifyToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="verifyTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="refound">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="refoundResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getTokenRequest">
        <wsdl:part name="body" element="xsd1:getToken"/>
    </wsdl:message>
    <wsdl:message name="getTokenResponse">
        <wsdl:part name="body" element="xsd1:getTokenResponse"/>
    </wsdl:message>

    <wsdl:message name="verifyTokenRequest">
        <wsdl:part name="body" element="xsd1:verifyToken"/>
    </wsdl:message>
    <wsdl:message name="VerifyTokenResponse">
        <wsdl:part name="body" element="xsd1:verifyTokenResponse"/>
    </wsdl:message>

    <wsdl:message name="RefoundRequest">
        <wsdl:part name="body" element="xsd1:refound"/>
    </wsdl:message>
    <wsdl:message name="refoundResponse">
        <wsdl:part name="body" element="xsd1:refoundResponse"/>
    </wsdl:message>

    <wsdl:portType name="Bank">
        <wsdl:operation name="getToken">
        <wsdl:input message="tns:getTokenRequest"/>
        <wsdl:output message="tns:getTokenResponse"/>
        </wsdl:operation>

        <wsdl:operation name="verifyToken">
        <wsdl:input message="tns:verifyTokenRequest"/>
        <wsdl:output message="tns:verifyTokenResponse"/>
        </wsdl:operation>

        <wsdl:operation name="refound">
        <wsdl:input message="tns:refoundRequest"/>
        <wsdl:output message="tns:refoundResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BankSoapBinding" type="tns:Bank">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="getToken">
            <soap:operation soapAction="getToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="verifyToken">
            <soap:operation soapAction="verifyToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="refound">
            <soap:operation soapAction="refound" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="service">
        <wsdl:port name="BankPort" binding="tns:BankSoapBinding">
            <soap:address location="http://localhost:8000"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
